* {
    margin: 0;
    padding: 0;
}
nav {
    justify-content: space-around;
    align-items: center;
}
.navbar {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: space-between; 
    padding: 1rem;
    background-color: var(--btn-color);
}

.navList {
    display: flex;
    list-style-type: none; /* removes default bullet points */
    gap: 1rem; /* space between links */
}

.navLink {
    color: var(--btn-text-color);
    text-decoration: none;
    font-size: 1rem;
    padding: 70px;
}

.navLink:hover {
    color: var(--btn-text-color); /* changes color on hover */
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--btn-text-color);
}

a, .btn {
    transition: all 300ms ease;
}



